.wrapper {
  background-color: #f6f9fe;
  height: 100%;
  width: 30%;
  padding: 25px 30px;
  overflow-y: auto;
}

.dragEnter {
  border: 3px dashed black;
}
.msg {
  display: flex;
  justify-content: center;
}
