.wrapper {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f9fe;
  padding: 15px 10px;
  border-radius: 1px;
  cursor: move;
}

.toolbar_item_title {
  color: #252a32;
  font-size: 12px;
  line-height: 18px;
}
